:root {
    --blanco: #ffffff;
    --negro: #000000;
    --primario: #ffc107;
    --secundario: #0097a7;
    --gris: #757575;
    --gris_fondo: #DFE9f3;
}
html{
    font-size: 62.5%;
    box-sizing: border-box;
    /* background-color: var(--gris); */
}
*, *:before, *:after {
    box-sizing: inherit;
}
body{
    font-family: 'Teko', sans-serif;
    background-image: linear-gradient(to top, var(--gris_fondo)0%, var(--blanco) 100%);
}
h1{
    font-size: 3.8rem;
    color: var(--primario);
    background-color: var(--blanco);
}
h2{
    font-size: 2.8rem;
}
h3{
    font-size: 1.6rem;
}

h1,h2,h3{
    text-align: center;
}

.apellido {
    font-size: 2.1rem;
    color: var(--negro);
    text-transform: uppercase;
    font-style: italic;
}
.nav-princ {
    display: flex;
    background-color: var(--secundario);
    flex-direction: row;
    justify-content: space-around;
}
.nav-princ a {
    font-size: 2.3rem;
    text-decoration: none;
    padding: 1rem;
    color: var(--blanco);

}
.nav-princ a:hover{
    background-color: var(--primario);
    color: var(--negro);
}
@media (max-width: 480px) {
    .nav-princ{
        flex-direction: column;
    }
    .boton{
        width: auto;
    }
}

.bg-portada{
    background-image: url(../img/hero.jpg);
    background-size: cover;
    height: 250px;
    position: relative;

}
.contenido-portada{
    position:absolute;
    background-color:rgba(0, 0, 0, 0.700);
    height:100%;
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.contenido-portada h2,
.contenido-portada p{
    color: var(--blanco);
}
.ubicacion{
    display: flex;
    align-items:flex-end;
}

.boton{
    background-color: var(--secundario);
    color: var(--blanco);
    width: 90%;
    padding: 1rem 3rem;
    margin-top: 1rem;
    font-size: 2rem;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    border-radius: 0.5rem;
}
@media (min-width: 768px) {
    .boton{
        width: auto;
    }
}
.articulos{
    display: flex;
    flex-direction: row;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1.5rem;
}

.articulos .icono{
    display: flex;
    height: 100px;
    width: 100px;
    background-color: var(--primario);
    border-radius: 50%;
    align-items:center;
    justify-content: center;


}

.servicio{
    display: flex;
    flex-direction: column;
    align-items: center;
}